<a href="https://colab.research.google.com/github/kjm784512/Colab/blob/main/1_%ED%8C%8C%EC%9D%BC%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('my first python code')

my first python code

파이썬은 띄어쓰기 조심! print문장은 회면에 출력해주는 명령어

In [ ]:
name = '김지민'
age = '17'
age=age

print('안녕하세요 난 ' +name + age)

안녕하세요 난 김지민17

In [ ]:
a=5
b=3
print(a%b)

2

In [ ]:
a=5
b=3
print(a==b)

False

In [ ]:
a = 5
b = 2
t = b
b=a
a=t

print(a,b)

2 5

In [ ]:
a=5
b=10




print(a,b)

5 5

In [ ]:
str='hello'

In [ ]:
print(str)

hello

In [ ]:
#우리반 학생을 저장 ( 1~ 10번)
#방법1
s1 = '김개똥'
s2 = '홍길동'
#만약 학생이 100명이라면 ? => 100의 변수가 필요
#하나의 묶음으로 보관 =>  List (다른 언어서는 배열 array)

student = ['김개똥', '홍길동', 100]  #리스트에 다른 형태의 자료형도 보관가능
print(student[2]) #리스트 번지는 0번지 부터 시작

student.append('김지민') #append 새로운 항목을 뒤에 추가할 때
print(student[3])
#리스트에서 쓸수 있는 기능들은 어떤게 있을까??

#리스트에서 특정항목 삭제
student.pop(1)  #1번째 항목이 삭제

#다시 출력
print(student)

100
김지민
['김개똥', 100, '김지민']

In [ ]:
#만약 1번의 이름 ,국어 ,영어 정보 성적을 보관
#2번의 이름, 국어, 영어, 정보
s1 = ['김개똥', 100, 50, 70]
s2 = ['홀길동',60, 70, 100]



cls = [s1,s2]  #리스트(배열) 안에 리스트를 넣을 수 있음=> 2차원 리스트 (배열)
a1= cls[0] #s1 = 김개똥의 배열
print(a1[1]) # 김대똥의 국어 접수
print(cls[0][1])


#배열과 리스트가 같을까? => 배열은 크기가 고정 = 변경불가,리스트는 변함

100
100

In [ ]:
#여기만 실행하면 안됨..
#type(변수) = 변수의 타입(자료의 형태를 출력)

print(type(cls)) #cls의 자료형
num =3
print(type(num))

<class 'list'>
<class 'int'>

In [ ]:
#사용자 입력
print('이름을 입력하세요')
name = input()#입력하기 기능
#또는 name = input('이름을 입력하세요')
print('hello',name)
#print('hello',name)
#print('helld'+name)
print(f 'hello{name}') # f 로 시작하는 포맷팅을 이용해서 안에 표현할수 있음

이름을 입력하세요
김지민
hello 김지민

In [ ]:
#리스트에서 관해서.. 문자열
#String = 문자열
str = 'hello world'
print(str[4])  #['h','e','l'..... ] 저장되고 있음
print(   len(str)    )  # len()  기능은 문자의 길이를 출력

list = [1,2,3,4,5]  #배열의 길이를 알 수 있을까?
print(len(list))

o
11
5

In [ ]:
#반복문 - 반복된 작업을 쉽게
#상황- 리스트 = [0,0,0,0,0,0,0,0......]=>100칸 생성
#l sit = [0,0.....0]  또는
#l ist = [] l ist 

#반복 명령어 for, while
#for = 제한된 횟수 만큼 반복
#k = 반복하면서 사용할 변수
#range(범위)  0~범위 까지
for k in range(10): # k는 0~9까지 변신
 # : 표시는 중괄호 시작이랑 같은 뜻
 # 안에 들여쓰기를 했음. 
  print(k)
  print('반복중')

0
반복중
1
반복중
2
반복중
3
반복중
4
반복중
5
반복중
6
반복중
7
반복중
8
반복중
9
반복중

In [ ]:
# 100개의 리스트 배열을 만들고 [0,2,4,6.....] 순서로 값을 초기화
# 배열의 항목을 추가하는 명력어 append

for i in range(100):
  l ist.append(i*2)
  
  
  print(l ist)

SyntaxError: ignored

In [ ]:
#for는 반복문 => 똑같은 작업들 할 수 있도록 횟수를 지절하는 반복문
#입력하는 단의 구구단 출력
#예)   3입력 =>3*1=3 .......3*9=27
n = input('숫자를 입력하세요')
print(n*3)#input으로 받은 값은 문자로 처리됨
k = int(n)  #int 타입 = 정수값으로 변경
print(k*3)
## ==>>>>>   n = int (input('숫자입력'))

숫자를 입력하세요3
333
9

In [ ]:
n =  int( input('숫자입력')  )
for i in range(1, 10):   # 1~10전까지 = 1~9    #콜론: 붙이도록
    #반복할 작업은 탭만큼 들여써서 작성
    print(f'{n} * {i} = {n*i}')

숫자입력5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [ ]:
# 0. 사용자 입력을 숫자로 받기
# 1. 1부터 입력수 까지 출력 =>   for문 필요
# 2. 3,6,9 인지 판단 하여 X로 변환

k = int(   input('숫자 입력')         )
for i in range(1, k+1):
  #i 는   1부터 k까지 나옴...
  
  #if 조건 :   => 참인지 검사
  # 참이라면 수행할 내용
  #if i 가 3이랑 같은가  
  if i == 3 :  #등호를 하나만 쓰면,   <-  복사,      == 비교하는것
    #들여쓰기 조심
    print('X')
  else:  #그 밖에  if와 같이 사용됨. if는 혼자 쓸수 있지만, else 혼자 사용 불가
    #들여쓰기 조심
    if i == 6 :
      print('X')
    else:
      if i == 9:
        print('X')
      else:
        print(i)

숫자 입력10
1
2
X
4
5
X
7
8
X
10

In [ ]:
#나머지 연산자 알기
n = int(input('숫자'))

for i in range(1,n+1):
  #만약 3으로 나누어 떨어지는가 == 나머지가 0인가
  #    % = 나머지 연산자 =>      10%3=1
  if i % 3  == 0:   # 3,6,9
   print('x')
  else:
    print(i)

숫자10
1
2
x
4
5
x
7
8
x
10

In [ ]:
# OR연산자와 , AND연산자 => OR연잔사
n = int(input('숫자'))

for i in range(1,n+1):
  if i == 3 or i == 6 or i == 9 :
   print('x',end=' ')
  else:
    print(i, end=' ')

숫자10
1 2 x 4 5 x 7 8 x 10

In [ ]:
# IF 문 복슴 for 문과 연계
# if = 조건 검사 = 만약 조건이 참이면 수행할 내용 작성

a= 5
#a가 5보다 크다면 "큰수" 출력
if a > 15 : 
  print('큰수')
  print('입니다.')

#클론 표시의 주의-


#콜론 다음에는 현재보다 들여쓰기 (탭)


if a > 5:
  
  
else:  # else = '그 밖에'  참이 아닌 경우는 전부 이쪽으로 오게됨.

IndentationError: ignored

In [ ]:
#내가 생각한 숫자 맞추기
#10번의 기회동안 숫자를 맞춤
#10번의 기회=> 10번동안 입력을 받아야겠음
#10번동안 => 10번 반복 => for문 필요
#입력받음 => input() 필요
#내가 입력한 숫자가 맞는지 검사(만약 일치하니???) => if문 필요
#10번의 반복할 동안 검사를 매번 수행 =. for문 안에서 입력도 받고, 검사도 하고

ans = 15 # 정답
#10번 반복
#파이썬 랜덤값1~10까지

for i in range(10):
  num = int(input('정답은?'))   #입력 문자를 숫자로 변환

  #ans랑 num이랑 같은가
  if ans == num :
    print('정답!')
  #빠져나가기 => 검색, 파이썬에서 반복문 빠져나가기
    break
    #틀린 숫자만 오는 경우
    #또 검사
    if ans > num :
      print('up')
    else:
      print('Down')

정답은?15
정답!

In [ ]:
#숫자를 입력박기 기능 => n이라고 하자
#1부터 n까지 반복 => for  ~~~~ : 
#반복하면서 나오는 숫자가 짝수 인지 검사   %2 == 0 ???
#합 구라기 => 합을 보관하는 변수 sum을 만들자
#sum변수를 누적해서 저장하자


n = int(input('숫자입력'))
sum = 0
for i in range(1,n+1): 
  if i %2 == 0:
    sum = sum+i

print(sum)

숫자입력100
2550

In [ ]:
#가위1 바위2 보3
me = k = int(input('뭐 낼래? 가위1 바위2 보3'))
com = 1 # 가위를 냈다고 하자 ..

#나의 컴퓨터의 비교를 해서 승,패,무승부 출력!
if com == k:
 pri

In [9]:
# 1이 입력되면 0, 0이 입력되면 1로 출력하는 프로그램 만들자
n = int(input('입력'))
if n <1:
  print(1)
else:
  print(0)

입력2
0

In [17]:
#for문과 배열을 섞어보자
#배열 = 리스트 => 변수의 집합=> 여러개의 변수를 묶어서 보관
#그럼 어떻게 안에 있는 자료를 수 있을까?=> 주소

lt = [] #빈 리스트를 만들기
#리스트와 관련된 명령어 알기
# lt. => 점을 찍으면 사용할 수 있는 명령어가 나옴
lt. append(1) #뒤에 추가
lt. append(10)
lt. insert(1,5) #(번지,추가할 값) , 리스트는 0번지 부터 출발

#1번지에 있는 1을 삭제
lt. remove(1) #삭제할때는 주소번지만 이용해서 삭제

print(lt)

[5, 10]

In [26]:
#[1,10,20,30,40......1000]
# 0번지 0,1번지에 10, 2번지 20, 3번지30......n번지 n*10
a = []
#for 변수 in 범위 (리스트를 써도 되고 , range() 이용)
for i in range(0,1001,10):
  a. append(i)
print(a)

#pos = a.append(40)  # 값을 찾아보고 해당 변지를 출력
#print(pos)
str = 'hello world' #문자열도 리스트로 다룰 수 있음
print(6)
print(str.index('w'))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910, 920, 930, 940, 950, 960, 970, 980, 990, 1000]
6
6

In [ ]:
#리스트에서 index를 쓰지 않고 해당 위치 변환

a = [1,2,3,4,5,6,7]

find = int (input)

#for문을 이용


###결과###
# 4입력 => 3(번지)출력